html{
	scroll-behavior: smooth;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

body{
	font-family: cursive;
}

.navig{
	background: rgb(255,255,255);
	
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	color: #fff;
}

.navbar-nav li a{
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 2px;
	color: #ff7230;
	position: relative;
}

.navbar-nav li a:before{
	content: '';
	position: absolute;
	top: 100%;
	bottom: 50%;
	height: 3%;
	background: #ff7230;
	transition: all 0.3s linear;

}


.navbar-nav li a:hover:before{
	width: 80%;
}	


/* .name-div{
	padding-top: 100px;
} */

.img-div{
	padding-left: 20rem!important;
	align-items: center;
}

.main-sec{
	height: 650px;
	padding-top: 8rem!important;
	
	/* background: rgb(36,1,121);
background: linear-gradient(90deg, rgba(36,1,121,1) 4%, rgba(136,79,185,1) 65%, rgba(2,81,97,1) 98%);
	 */
}

.sub_section{
    background-color: #fbfafd;
}


.para-div{
	margin-left: 20px;
	font-size: 1.3em;
}

.icns{
	
	margin-top: .2em;
	font-size: 5em;
	color: #f16529;
}

.icns-css{
	
	margin-top: .2em;
	font-size: 5em;
	color: #0070ba;
}

.icns-php{
	
	margin-top: .2em;
	font-size: 5em;
	color: #777bb3;
}

.icns-bs{
	
	margin-top: .2em;
	font-size: 5em;
	color: #7952b3;
}

.icns-js{
	
	margin-top: .2em;
	font-size: 5em;
	color: rgb(240, 219, 79);
	
}

.icns-mysql{
	/* 
	margin-top: .2em; */
	font-size: 5em;
	color: rgb(240, 219, 79);
	
}

.icns-ang{
	margin-top: .2em;
	font-size: 5em;
	color: rgb(189, 4, 4);
	
}

.icns-nod{
	margin-top: .2em;
	font-size: 5em;
	color: rgb(6, 231, 63);
	
}

.icns-ionic{
	margin-top: .2em;
	font-size: 5em;
	color: rgb(31, 18, 143);
	
}

@media only screen and (max-width: 620px) {
	.img-div{
		padding-left: 4rem!important;
		align-items: center;
	}

	.intro{
		padding: 2em !important;
	}
	.icns{
		
		margin-top: .2em;
		font-size: 5em;
		color: #f16529;
	}
	
	.icns-css{
		
		margin-top: .2em;
		font-size: 5em;
		color: #0070ba;
	}
	
	.icns-php{
		
		margin-top: .2em;
		font-size: 5em;
		color: #777bb3;
	}
	
	.icns-bs{
		
		margin-top: .2em;
		font-size: 5em;
		color: #7952b3;
	}
	
	.icns-js{
		
		margin-top: .2em;
		font-size: 5em;
		color: rgb(240, 219, 79);
		
	}
	
	.icns-mysql{
		
		margin-top: .2em;
		font-size: 5em;
		color: rgb(240, 219, 79);
		
	}

	.icns-ang{
		
		margin-top: .2em;
		font-size: 5em;
		color: rgb(189, 4, 4);
		
	}

	.icns-nod{
		
		margin-top: .2em;
		font-size: 5em;
		color: rgb(6, 231, 63);
		
	}

	
	.icns-ionic{
		margin-top: .2em;
		font-size: 5em;
		color: rgb(31, 18, 143);
		
	}


	.dyn-info{
		height: 100px;
	}

	



}

.sl-icns .navbar-nav li a{
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 600;
	letter-spacing: 2px;
	color: black;
	position: relative;
}


.name-f{
	font-size: 1.2em;
	font-weight: 600;
	color: #ff7230;
}


#scBtn{
	display: none;
    position: fixed;
    bottom: 30px;
    right: 40px;
    z-index: 99;
    outline: none;
    background-color: #00A8FF;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;

}

#scBtn:hover{
    background: #606060;
}


.v-sc{
	font-size: 1em;
}




  .loader {
	  position: fixed;
	  left: 0;
	  top: 0;
	  width: 100%;
	  height: 100%;
	  z-index: 99;
	  background: url() 50% 50% no-repeat rgb(249,249,249);
  }
 

  	.loader-container {
		height: 100%;
		margin: 0;
		background: #ccc;
		color: #666;
		font-family: open sans;
		padding: 0;
  	}


  .preloader {
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	position: relative;
  }
  
  .description {
	position: absolute;
	bottom: 10px;
	left: 12px;
  }
  
  .loader-container {
	cursor: default;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
  }
  
  
  
  .preloader-dots {
	height: 100px;
	width: 200px;
  }
  
  .preloader-dots .dot {
	display: inline-block;
	
	background: #f16529;
	height: 28px;
	width: 28px;
	opacity: 0.3;
	border-radius: 50%;
	animation: moveit 1.8s infinite;

  }
  
  .dot:nth-child(2) {
	animation-delay: .15s;
	background: #c2430c;
  }
  
  .dot:nth-child(3) {
	animation-delay: .3s;
	background: black;
  }
  
  .dot:nth-child(4) {
	animation-delay: .45s;
	background: green;
  }
  
  .dot:nth-child(5) {
	animation-delay: .6s;
	background: blue;
  }
  
  @keyframes moveit {
	0% {
	  transform: translateY(0px);
	}
	35% {
	  transform: translateY(0px);
	  opacity: 0.3;
	}
	50% {
	  transform: translateY(-20px);
	  opacity: 0.8;
	}
	70% {
	  transform: translateY(3px);
	  opacity: 0.8;
	}
	85% {
	  transform: translateY(-3px);
	}
  }
  
  
  footer {
	background: #16222A;
	background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
	background: linear-gradient(59deg, #3A6073, #16222A);
	color: white;
	margin-top:100px;
  }
  
  footer a {
	color: #fff;
	font-size: 14px;
	transition-duration: 0.2s;
  }
  
  footer a:hover {
	color: #FA944B;
	text-decoration: none;
  }
  
  .copy {
	font-size: 12px;
	padding: 10px;
	border-top: 1px solid #FFFFFF;
  }
  
  .footer-middle {
	padding-top: 2em;
	color: white;
  }
  
  ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
  }
  
  ul.social-network li {
	display: inline;
	margin: 0 5px;
  }
  
  .social-network a.icoFacebook:hover, .social-network a.icoLinkedin:hover, .social-network a.icoTwitter:hover, .social-network a.icoInstagram:hover, .social-network a.icoGithub:hover {
	background-color: rgb(58, 58, 57);
  }
  
  /* .social-network a.icoLinkedin:hover {
	background-color: #007bb7;
  } */
  
  .social-network a.icoFacebook:hover i,
  .social-network a.icoLinkedin:hover i,
  .social-network a.icoTwitter:hover i,
  .social-network a.icoInstagram:hover i,
  .social-network a.icoGithub:hover i
  {
	color: rgb(150, 18, 18);
  }
  
  .social-network a.socialIcon:hover,
  .socialHoverClass {
	color: #44BCDD;
  }
  
  .social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 15px;
  }
  
  .social-circle li i {
	margin: 0;
	line-height: 30px;
	text-align: center;
  }
  
  .social-circle li a:hover i,
  .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
  }
  
  .social-circle i {
	color: #595959;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
  }
  
  .social-network a {
	background-color: red;
  }
  


